page-project-list {
    
    .main-history{padding: 16px;}
    .top-block{display: block !important; border: 0px !important;}
    
    .number-block{
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
    }
    
    .button{
        font-size: 12px;
    }
    
    .no-content 
    {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .date{
        margin-bottom: 10px !important;
        font-size: 11px;
    }

    // .button{text-transform: capitalize !important; margin-top: 16px !important;}
    
}
